.hero-overlay {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.4) 0%,
    rgba(16, 185, 129, 0.2) 50%,
    rgba(139, 92, 246, 0.3) 100%
  );
  background-image: url("../src/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.z-10{
  z-index: 10 !important;
}

